body{
    background-color: #F5D7B2 !important;
    font-family: 'ABeeZee', sans-serif !important;

}


span{
    width:0;
    height:0;
    border:30px solid transparent;
    display:block;
}

span.baixo{ border-top-color:#ED6A5A; }


.boxed {
    border: rgba(245,215,178,1);
    padding: 10%;
    background: radial-gradient(50% 50% at 50% 50%, #6FCF97 0%, rgba(111, 207, 151, 0) 100%);

}

.row {
   
    display: flex;
    flex-wrap: nowrap;
    
}

  
.right {
    
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    font-size: 40px;
    text-align: left;
    color: #ED6A5A;
    flex-direction: column;


}


.left{

    left: 31.16%;
    right: 5.9%;
    top: 28.21%;
    bottom: 47.26%;

}

.textoprincipal{
    color: #ED6A5A;
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: 200px;
}


.box2 {
    background: radial-gradient(50% 50% at 50% 50%, #ED6A5A 0%, rgba(237, 106, 90, 0) 100%);
}

.right2{
    
    left: 31.16%;
    right: 5.9%;
    top: 28.21%;
    bottom: 47.26%;

}

.left2 {
        display: flex;
        justify-content: center;
        align-content: flex-start;
        font-size: 40px;
        text-align: right;
        color: #D3EBFB;
        flex-direction: column;
        align-items: center;
        left: 31.16%;
    right: 5.9%;
    top: 28.21%;
    bottom: 47.26%;
}



.texto{
    color: #ED6A5A;
    font-size: 38px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 150px;
    margin-right: 150px;
}




h3{
    font-size: 36px;
    color: #053742;

}

.box3{
    border: rgba(245,215,178,1);
    padding: 10%;
    background: radial-gradient(50% 50% at 50% 50%, #6FCF97 0%, rgba(111, 207, 151, 0) 100%);


}


.right3{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}

.left3{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}

footer{
   color: #39A2DB;

}